<center>
<div class="card" style="width: 30rem;">
<div class="card-body">
    <h2>Positive Post Feed</h2>
</div>
</div>
<br>
    <% if current_user.following.length != 0 %>
        <% current_user.following.each do |user| %>
            <% user.posts.order('created_at desc').each do |post| %>
                <div class="card" style="width: 30rem;">
                <div class="card-body">
                <p class="card-subtitle mb-2"><%= post.user.user_name %> 
                <class="text-muted">Posted: <%=post.created_at.ago_in_words %></p>
                <br>
                <p class="card-text"><%= post.content %></p>
                <br>
                    <% if post.user.followers.include?(current_user) == false %>
                        <form action="/users/<%=post.user.id%>/follow" method = "POST">
                        <button class="btn btn-outline-secondary btn-sm" type="submit">Follow</button> 
                        </form>
                    <% else %>    
                        <form action="/users/<%=post.user.id%>/unfollow" method = "POST">
                            <button class="btn btn-outline-secondary btn-sm" type="submit">Unfollow</button>  
                        </form>
                    <% end %>
                    </div>
                    </div>
                    <br>
            <% end %> 
        <% end %>
        
        <% else %>
        <div class="card" style="width: 30rem;">
        <div class="card-body">
        <p> You haven't followed anyone yet!
        Check out the "Discover New Posts" page.</p>
        </div>
        </div>
    <% end %>
</center>