<center>
  <header>
    <% if logged_in? %>
      <p> &nbsp; &nbsp; Welcome back, <%=current_user.user_name %> !</p>
    <%end%>
  </header>
<ul>
<div class="card">
<div class="card-body">
  <h2>Discover Positive Posts !</h2>
</div>
</div>
<br>
<% @posts.order("updated_at DESC").each do |post| %>
  <div class="card" style="width: 30rem;">
  <div class="card-body">
    <!----- <h5 class="card-title"></h5> ------>
    <style="text-align: left"; class="card-subtitle"><%= post.user.user_name %>
    <style="text-align: center"; class="text-muted">Posted: <%=post.created_at.ago_in_words %></p><br>
    <p class="card-text"><%=post.content %></p>
    <br>
    <% if current_user.user_name != post.user.user_name %>
      <% if post.user.followers.include?(current_user) == false %>
      <form action="/users/<%=post.user.id%>/follow" method = "POST">
      <button class="btn btn-outline-secondary btn-sm" type="submit">Follow</button> 
      </form>
  <% else %>    
      <form action="/users/<%=post.user.id%>/unfollow" method = "POST">
          <button class="btn btn-outline-secondary btn-sm" type="submit">Unfollow</button>  
      </form>
    <% end %>
    <% else %>
      <a href="/posts/<%=post.id%>/edit"><button class="btn btn-outline-secondary btn-sm" type="button">Edit Post</button></a>
    <br>
      <% end %>
  </div>
  </div>
  <br>
<% end %>
</ul>
</center>

